@tailwind base;
@tailwind components;
@tailwind utilities;

/* base styles using custom classes */
@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* optional import for animations */
@import "tw-animate-css";
